{% extends "base.html" %}
{% block content %}
<h1>Muokkaa muistiinpanoa</h1>
{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<form method="post" action="{{base_path}}/muistiinpano">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="nimi" class="form-control" value="{{attributes.nimi}}">
    </div>

    <div class="form-group">
        <label>Prioriteetti</label>
        <input type="text" name="prioriteetti" class="form-control" value="{{attributes.prioriteetti}}">
    </div>

    <div class="form-group">
        <label class="control-label">Kategoria</label>
        <br>
        {% for kategoria in kategoriat %}
        {% if kategoria.id in kat_mp %}
        <input type="checkbox" checked="checked" name="kategoriat[]" value="{{kategoria.id}}">{{kategoria.nimi}}</input>
        <br>
        {% else %}
        <input type="checkbox" name="kategoriat[]" value="{{kategoria.id}}">{{kategoria.nimi}}</input>
        <br>
        {% endif %}
        {% endfor %}
        <input type="hidden" name="kategoriat[]" value="">
    </div>

    <div class="form-group">
        <label>Kuvaus</label>
        <textarea name="kuvaus" class="form-control" >{{attributes.kuvaus}}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}