{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{{forms.show_message(message)}}

<h1>Muistilista</h1>

<p>
    <a href="{{base_path}}/muistiinpano/new" class="btn btn-success">Lisää muistiinpano</a>
</p>

<table class="table-responsive" id="poyta">
    <thead>
        <tr id="otsikot">
            <th>Muistiinpano</th>
            <th>Prioriteetti</th>
            <th>Kategoria</th>
            <th>Tila</th>
            <th>Lisäyspäivä</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for muistiinpano in muistiinpanot %}
        <tr>
            <td><a href="{{base_path}}/muistiinpano/{{muistiinpano.id}}">{{muistiinpano.nimi}}</td>
            <td>{{muistiinpano.prioriteetti}}<strong>/5</strong></td>
            <td>{{muistiinpano.kategoria_id}}</td>
            <td>
                {% if muistiinpano.tila %}
                <label class="label label-success">Valmis</label>
                {% else %}
                <label class="label label-danger">Kesken</label>
                {% endif %}
            </td>
            <td>{{muistiinpano.lisatty}}</td>
            <th><a href="{{base_path}}/muistiinpano/{{muistiinpano.id}}/edit" class="btn btn-default">Muokkaa</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}