{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{{forms.show_message(message)}}

<h1>{{muistiinpano.nimi}}</h1>

{{forms.show_errors(errors)}}

<p>
    {{forms.destroy_button("#{base_path}/muistiinpano/#{muistiinpano.id}/destroy")}}
    <a href="{{base_path}}/muistiinpano/{{muistiinpano.id}}/edit" class="btn btn-default">Muokkaa</a>
</p>

<ul>
    <li><strong>Prioriteetti:</strong> {{muistiinpano.prioriteetti}}<strong>/5</strong></li>
    <li><strong>Kategoriat:</strong> 
        {% if muistiinpano.kategoriat|length > 0 %}
        {% for kategoria in muistiinpano.kategoriat %}
        <p>{{kategoria.nimi}}</p>
        {% endfor %}
        {% endif %}
    </li>
    <li><strong>Lisäyspäivä:</strong> {{muistiinpano.lisatty}}</li>
</ul>

<p>
    {{muistiinpano.kuvaus}}
</p>

{% endblock %}