{% extends "base.html" %}
{% block content %}


<h1>{{muistiinpano.nimi}}</h1>
<!-- Painikkeet tähän -->
<p>
<form method="post" action="{{base_path}}/muistiinpano/{{muistiinpano.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
<form method="post" action="{{base_path}}/muistiinpano/{{muistiinpano.id}}/edit" style="display: inline-block;">
    <button type="submit" class="btn btn-default">Muokkaa</button>
</form>
</p>

<ul >
    <li><strong>Prioriteetti:</strong> {{muistiinpano.prioriteetti}}<strong>/5</strong></li>
    <li><strong>Kategoria:</strong> {{muistiinpano.kategoria_id}}</li>
    <li><strong>Tila:</strong> {% if muistiinpano.tila %}
        <label class="label label-success">Valmis</label>
        {% else %}
        <label class="label label-danger">Kesken</label>
        {% endif %}</li>
    <li><strong>Lisäyspäivä:</strong> {{muistiinpano.lisatty}}</li>
</ul>

<p>
    {{muistiinpano.kuvaus}}
</p>

{% endblock %}