{% extends "base.html" %}
{% block content %}


<h1>{{muistiinpano.nimi}}</h1>
<!-- Painikkeet tähän -->
<p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
</p>
<!-- Tiedot tulee listana tähän -->
<ul >
    <li><strong>Prioriteetti:</strong> {{muistiinpano.prioriteetti}}<strong>/5</strong></li>
    <li><strong>Kategoria:</strong> {{muistiinpano.kategoria_id}}</li>
    <li><strong>Tila:</strong> {% if muistiinpano.tila %}
        <label class="label label-success">Valmis</label>
        {% else %}
        <label class="label label-danger">Kesken</label>
        {% endif %}</li>
    <li><strong>Lisäyspäivä:</strong> {{muistiinpano.lisatty}}</li>
</ul>
<!-- Kuvaus tulee tähän -->
<p>
    {{muistiinpano.kuvaus}}
</p>
{% endblock %}