{% extends "base.html" %}
{% block content %}
  <h1>Muista tehdä tsohaa</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul >
    <li><strong>Prioriteetti:</strong> 5<strong>/5</strong></li>
    <li><strong>Kategoria:</strong> Kouluhommat</li>
    <li><strong>Tila:</strong> <label class="label label-danger">kesken</label></li>
    <li><strong>Lisäyspäivä:</strong> 19.9.2016</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Tsohan tietokantasovellus on kesken. Muista tehdä sitä joka viikko. Dedis on maanantaisin!
  </p>
{% endblock %}