{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Tervetuloa Muistioon!</h1>
</div>

<p>
    <a href="login" class="btn btn-primary btn-block center-block">Kirjaudu sisään <span class="glyphicon glyphicon-chevron-right"></span></a>
</p>

<p>
    <a href="https://github.com/lesktimo/Muistilista#tietokantasovelluksen-esittelysivu" class="btn btn-primary btn-block center-block">Dokumentaatio <span class="glyphicon glyphicon-chevron-right"></span></a>
</p>

{% endblock %}
